# Application Configuration
SERVER_PORT=8080

# Database Configuration
DB_URL=jdbc:h2:mem:tododb
DB_CLASS=org.h2.Driver
DB_PLATFORM=org.hibernate.dialect.H2Dialect
DB_USERNAME=sa
DB_PASSWORD=

# JPA Configuration
JPA_DDL_AUTO=create-drop

